body {
    padding: 0;
    margin: 0;
}

.page {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    border: 1px solid black;
}

.stats {
    display: flex;
    text-align: center;
}

.stat {
    border: 1px solid black;
    margin-right: 10px;
}